{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <span style="float:right;">
          
            <i class="material-icons my-icons2">pageview</i>
          <i class="material-icons my-icons2">home</i>
          
          </span>
      
      </div>
    </div>
    
     <div class="row">
      <div class="col-xs-12">
     
        <h1 class="center-text">Oakland</h1>
        <p class="text-center center-text">SAT 12am</p>
      </div>
    </div>
    
     <img src=" http://i63.tinypic.com/2lubbb6.png" alt="drenched man" width="150" height="150" class="center" vspace="20">
   

    <div class="row">

      <img src="http://i65.tinypic.com/2hqzfc4.png" alt="drenched man" width="150" height="150" class="center" vspace="3">


      <div class="col-xs-12">
        <h5 class='degree'>Heavy Rain</h5>
        <p class='degree'> 52° F </p>
          </div>
                                  
      </div>
                                  
    <p>
       This person is anything but relaxed. Don't let this be you!
    </p>
    
   
    <hr> </hr>
    <div class="row">  
    
         <i class="fa fa-exchange btm-bar" style="width:33%"> </i>
     
      
         <i class="fa fa-search btm-bar" style="width:33%"></i>
    
      
         <i class="fa fa-gear btm-bar" style="width:33%"></i>
     
                                  
     
    </div>
                                     
                                  
                                  
   </div>
  
</body>
</html>