{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <span style="float:right;">
            <i class="material-icons my-icons">star</i>
            <i class='material-icons my-icons'>navigation</i>
            <i class="material-icons my-icons">pageview</i>
          
          </span>
      
      </div>
    </div>
    
     <div class="row">
      <div class="col-xs-12">
     
        <h1 class="center-text">Berkeley</h1>
        <p class="text-center center-text">FRI 6pm</p>
      </div>
    </div>

    <div class="row">

      <img src="https://www.pinclipart.com/picdir/big/0-2313_sunshine-sun-clip-art-with-transparent-background-free.png" alt="Smiling Sun" width="150" height="150" class="center" vspace="20">


      <div class="col-xs-12">
        <h5 class='degree'>Sunny</h5>
        <p class='degree'> 57° F </p>
          </div>
                                  
      </div>
                                  
      <div class="row">
                     
        <img src="http://i63.tinypic.com/35cq0ww.png"alt="person at beach "width="50" height="75" class="center" vspace="20">
      </div>
 
       
    
      <div class="row">  
        <img src="http://i64.tinypic.com/evaseh.png"alt="degree wheel" style="width:100%" vspace = "20">

      </div>
    
   
    <hr> </hr>
    <div class="row">  
    
         <i class="fa fa-exchange btm-bar" style="width:33%"> </i>
     
      
         <i class="fa fa-search btm-bar" style="width:33%"></i>
    
      
         <i class="fa fa-gear btm-bar" style="width:33%"></i>
     
                                  
     
    </div>
                                     
                                  
                                  
   </div>
  
</body>
</html>